.container {
  max-width: 50rem;
  margin: 1.5rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mat-toolbar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  background-color: #3f51b5;
  color: white;
}

.footer {
  background: linear-gradient(45deg, #283593, #3f51b5);
  color: white;
  padding: 1rem;
  box-shadow: 0 -0.125rem 0.625rem rgba(0, 0, 0, 0.15);
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50rem;
}

.footer-text {
  flex: 1;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 0.5rem;
  padding-right: 1.5rem;
}

.social-icons mat-icon {
  cursor: pointer;
  transition: transform 0.2s;
}

.social-icons mat-icon:hover {
  transform: scale(1.1);
}

.footer-spacer {
  flex: 1 0 auto;
}

.mat-divider {
  margin: 0 auto 0.5rem;
  width: 90%;
}
